.nav-link:hover {
    background-color: #212529;
    color: #000000;
    border-radius: 100px;
    box-shadow: 1px 1px #555a55;
    padding-top: 10px;
}

#boton {
    background-color: visible;
    backface-visibility: visible;
    background-color: #92f792;
}
