.contacto {
    background: linear-gradient(to left, #f061dd, #97027e);
    color: #020202;
}

.articulo1 {
    text-align: center;
    padding: 10px;
}

.articulo2 {
    background: linear-gradient(to left, #ca33b6, #70035e);
    text-align: center;
    padding: 10px;
}